[filesystem_auckland_gram5]
host = gram5.ceres.auckland.ac.nz
protocol = gsiftp
port = 2811

[filesystem_canterbury_df]
host = df.canterbury.ac.nz

[directory_auckland_home]
filesystem = auckland_gram5
path = ~/
fqan = /nz/nesi

[directory_auckland_tmp]
filesystem = auckland_gram5
path = /tmp
fqan = /nz/nesi

[directory_canterbury_df]
filesystem = canterbury_df
path = ~/
fqan = /nz/nesi

